
    body{
      background-image: url("/images/unsplash6.jpg");
       background-size: cover;
     background-repeat: no-repeat; 
    background-attachment: fixed;
    }  
    #textArea {
      border-radius: 20px;
      height:3rem;
      width:20rem;
    }

    #input {
      margin-top: 7vh;
    }

    #box {
      height: 70vh;
    }
    .scroll{
      
      background-size: cover;
      /* height: 10rem;
      width: 20rem; */
      overflow: hidden;
      overflow-y: scroll;
      border: 2px solid black;
      border-radius: 10px;


    }

    .scroll-div {
      background-image: url("/images/unsplash23.jpg");
      background-size: cover;
      /* height: 30vh;
      width: 35rem; */
      overflow: hidden;
      overflow-y: scroll;
      border: 3px solid gray;
      border-radius: 15px;
    
    }

    #Groupchatheading {
      font-family: 'Merriweather Sans', sans-serif;
      color: orange;
      background: #571616;

    }
    #chatbox{
      font-family: 'Merriweather Sans', sans-serif;
      color: rgb(230, 188, 146);
      background: #01061859;
      border-radius: 10px;


    }
    #row{
      border-radius: 14px;
    }



    .message{
      background-color: rgb(211, 195, 195);
      width:30%;
      padding:10px;
      margin: 5px 5px;
      border:4px solid purple;
      border-radius: 10px;

    }
    .left{
      float: left;
      clear:both;

    }
    .right{
      float: right;
      clear:both;

    }
    .members{
      background-color: rgb(225, 176, 231);
      border: 3px solid rgb(165, 219, 16);
      border-radius: 10px;
    }
